/* .main-slider {
    padding: 30px;
} */

/* .carousel .slider-wrapper {
    width: 50%;
} */

/* .carousel .thumb {
    width: 5%;
    height: 50px;
} */
 
.carousel {
    justify-content: center;
}
